@model List<CategoryDto>

<ul>
    @foreach (var category in Model)
    {
        <li class="category-item" @Url.Action("GetProductsByCategory", "Product", new { id = category.Id })>
            <a>@category.Name</a>

            @if(category.SubCategories != null && category.SubCategories.Any())
            {
                <div class="subcategory-dropdown">
                    <partial name="Partials/CategoryChildren" model="@category.SubCategories" />
                </div>
            } 
        </li>
    }
</ul>    
