html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.login-form {
  border-radius: 8px;
  padding: 30px;
  margin: 0 auto;
  max-width: 500px;
}

.btn-primary {
  background-color: #4285f4;
  border-color: #4285f4;
  height: 44px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.show-password {
  border-color: #ced4da;
}